#home-gallery {
	display: flex;
	&:hover .home-gallery-item {
		width: 12.5%;
	}
	.home-gallery-item {
		@include transition(width $eta $effect);
		background-size: cover;
		background-position: center;
		box-sizing: border-box;
		text-align: center;
		padding: $gutter;
		min-height: 93vh;
		width: 33.33%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		cursor: pointer;
		overflow: hidden;
		&:hover, &.js-active {
			width: 75%;
		}

		.inner {
			min-width: 300px;
			max-width: none;
		}
	}
}
.slide[data-slide="home"] {
	padding: 0px;
}