#project-modal {
	position: fixed;
	z-index: 99;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
	vertical-align: middle;
	
	.project-modal-inner {
		@include transform(translateY(-50%));
		margin: 50vh $gutter*2 0px;
		background: $white;
		display: flex;

		> :first-child {
			margin-top: 0px;
		}
		> :last-child {
			margin-bottom: 0px;
		}
	}
}

.modal-left {
	width: 50%;
	background-size: cover;
	background-position: center;
}
.modal-right {
	width: 50%;
	padding: $gutter;
}