#projects {
	display: flex;
	flex-wrap: wrap;
	.project {
		box-sizing: border-box;
		padding: $gutter;
		background: $white;
		margin-bottom: $gutter;
		width: 100%;
		@include media($mobile-size) {
			@include span-columns(6);
			@include omega(2n);
		}
		@include media($desktop-size) {
			@include span-columns(4);
			@include omega-reset(2n);
			@include omega(3n);
		}
	}
}
.project-link {
	margin-top: $gutter;
}