body {
	background: $black;
}
.container {
	background: $grey-light;
}
a {
	color: $black;
	text-decoration: none;
	cursor: pointer;
	&:hover, &:link, &:focus, &:active {
		color: $black;
	}
}
img {
	max-width: 100%;
	height: auto;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}