.button {
	@include transition(background-color $eta $effect);
	background-color: $black;
	padding: 10px 20px;
	text-transform: uppercase;
	&:link, &:focus, &:hover, &:visited {
		color: $white;
	}
	&:hover {
		background-color: darken($black,10%);
	}
}