@for $i from 1 through 12 {
	$perc: ((100/12)*$i) + '%';
	.small-#{$i} {
		@include media($mobile-size) {
			float: left;
			width: #{$perc};
		}
	}
}
@for $i from 1 through 12 {
	$perc: ((100/12)*$i) + '%';
	.med-#{$i} {
		@include media($tablet-size) {
			float: left;
			width: #{$perc};
		}
	}
}
@for $i from 1 through 12 {
	$perc: ((100/12)*$i) + '%';
	.lg-#{$i} {
		@include media($desktop-size) {
			float: left;
			width: #{$perc};
		}
	}
}