
body {
  color: $black;
	font-size: $font-base-size;
	font-family: $font-base-family;
	line-height: $font-base-height;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 
{
  font-family: $font-family-serif;
  font-weight: normal;
  line-height: $font-header-height;
}
h5, .h5 
{
  font-family: $font-base-family;
  font-weight: normal;
  line-height: $font-header-height*1.5;
}
h6, .h6
{
  font-family: $font-base-family;
  font-weight: normal;
  line-height: $font-header-height;
  text-transform: uppercase;
}
h1, .h1 {
  font-size: 6em;
  margin: 1em 0px;
  color: $blue-dark;
} 
h2, .h2 {
  font-size: 3em;
  margin: 1em 0px;
} 
h3, .h3 {
  font-size: 2.5em;
  margin: 0px 0px 0.5em 0px;
}
h4, .h4 {
  font-size: 2.05em;
}
h5, .h5 {
  font-size: 1.3em;
}
h6, .h6 {
  font-size: 1.1em;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin-left: 0px;
}
p, ul, ol {
  margin: 2em 0px;
}
.mono {
  font-family: $font-family-mono; 
}
em {
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
}