#footer {
	color: $white;
	background: $black;
	padding: $gutter;
	text-align: center;
	@include clearfix();

	a {
		&:link, &:visited, &:hover {
			color: $white;
		}
	}
}
.footer-left {
	@include media($tablet-size) {
		text-align: left;
		@include outer-container();
		@include span-columns(8);
	}
}
.footer-left-col {
	@include media($tablet-size) {
		@include span-columns(3);
	}
}
.footer-right {
	@include media($tablet-size) {
		text-align: right;
		@include span-columns(4);
	}
}
