#header {
	background: $white;
	@include clearfix();
	// position: fixed;
	// top: 0px;
	// left: 0px;
	// width: 100%;
	padding: $gutter;
}
#header-logo {
	float: left;
}
#header-menu {
	float: right;
	margin: 0px;
	text-transform: uppercase;
	li {
		display: inline-block;
		text-align: center;
		margin-left: $gutter*1.5;
		a {
			display: inline-block;
			@include transition(color $eta $effect);
			color: $grey-med;
			&:hover, &.active, &.js-active {
				color: $blue-dark;
			}
		}
	}
}