#slides {
	overflow: hidden;
}
.slide {
	padding: $gutter;
	@include transition(opacity $eta $effect);
	opacity: 0;
	display: none;
	position: relative;
	&.js-fading {
		position: absolute;
		width: 100vw;
		z-index: 10;
	}
	&.js-active, &.js-fading {
		display: block;
	}
	&.js-active {
		z-index: 1;
		opacity: 1;
		position: relative;
	}
}