$font-family-serif: serif;
$font-base-family: Helvetica, sans-serif;
$font-header-family: Helvetica, sans-serif;
$font-family-mono: monospace;
$font-family-mono-bold: monospace;

$font-base-size: 13px;
$font-base-height: 2.25em;
$font-header-height: 1em;