@mixin turquoise($opacity: 1, $prop: 'background-color') {
	#{$prop}: rgba(#{$turquoise-rgb},#{$opacity});
}
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &::-ms-input-placeholder      {@content}  
}