// Change the grid settings
$column: 90px;
$grid-columns: 12;
// $gutter: 30px; 

// $max-width: 1200px;

$massive-size: 1400px;
$desktop-size: 960px;
$tablet-size: 768px;
$mobile-size: 480px;

// Define your breakpoints
$massive: new-breakpoint(max-width $massive-size 12);
$desktop: new-breakpoint(max-width $desktop-size 12);
$tablet: new-breakpoint(max-width $tablet-size 8);
$mobile: new-breakpoint(max-width $mobile-size 4);